:root{
    --bg-header: rgb(167, 48, 4);
    --header-bg-link: orangered;
    --bg-footer: rgb(160, 81, 81);
}

*{
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: fit-content;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    max-width: 100vw;
    width: 100%;
    height: 1500px;
}

/* BANNIERE */

.banniere {
    background-image: linear-gradient(rgb(0,0,0,0.6),rgb(0,0,0,0.6)),url("../../img/banniere.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    margin-top: -110px;
    box-shadow: 0 0 25px black;
}

.banniere > div {
    position: relative;
    top: 150px;
    left: 50px;
    color: white;
    width: max-content;
}

.banniere h1 {
    font-size: 50pt;
    margin-bottom: 1rem;
}

.banniere p {
    text-align: justify;
    font-size: 20pt;
}

.banniere span {
    color: orangered;
    transition: .2s;
}

.banniere span:hover {
    transition: .2s;
    animation: shake 0.25s infinite;
}

@keyframes shake {
    0% { 
        transform: rotate(0deg); 
    }
    25% { 
        transform: rotate(5deg); 
    }
    50% { 
        transform: rotate(0deg); 
    }
    75% { 
        transform: rotate(-5deg); 
    }
    100% { 
        transform: rotate(0deg); 
    }
}