:root{
    --bg-header: rgb(167, 48, 4);
    --header-bg-link: orangered;
    --bg-footer: #1d1d1d;
}

*{
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
}

/* BANNIERE */

.banniere {
    background-image: linear-gradient(rgb(0,0,0,0.6),rgb(0,0,0,0.6)),url("../../img/banniere.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    margin-top: -110px;
    box-shadow: 0 0 25px black;
    z-index: 2;
}

.banniere > div {
    position: relative;
    top: 150px;
    left: 50px;
    color: white;
    width: max-content;
}

.banniere h1 {
    font-size: 50pt;
    margin-bottom: 1rem;
}

.banniere p {
    text-align: justify;
    font-size: 20pt;
}

.banniere span {
    color: orangered;
    transition: .2s;
}

.banniere span:hover {
    transition: .2s;
}


/* MAIN */

main {
    width: 100%;
    color: white;
    background-color: rgb(255, 95, 36);
}

/* Dernier Wikis de publié */

.last-wiki {
    padding: 2rem 5rem;
}

.last-wiki h2 {
    margin-bottom: 1.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid white;
}

/* Cadre des wikis publiés */
.last-wiki div {
    overflow: auto;
    user-select: none;
    padding: 0.5rem;
}

/* Affichage des wikis publiés */
.last-wiki div div {
    display: inline-flex;
    gap: 2rem;
    overflow: hidden;
}

/* Liens des wikis */
.last-wiki div div a {
    width: 320px;
    height: 180px;
    border: 1px solid black;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 0 5px black;
    transition: .2s;
    color: white;
    text-decoration: none;
}

.last-wiki div div a:hover {
    border: 1px solid white;
    box-shadow: 0 0 5px white;
    transition: .2s;
}

/* Image de fond des miniatures Wiki */

.bg-nier_automata {
    background-image: url('../../page/nier_automata/img/bg.jpg');
    background-size: cover;
    transition: .2s;
}

.bg-nier_automata:hover {
    background-image: linear-gradient(rgb(0,0,0,0.6),rgb(0,0,0,0.6)),url('../../page/nier_automata/img/bg.jpg');
    transition: .2s;
}

.bg-minecraft {
    background-image: url('../../page/minecraft/img/bg.jpg');
    background-size: cover;
}

.bg-minecraft:hover {
    background-image: linear-gradient(rgb(0,0,0,0.6),rgb(0,0,0,0.6)),url('../../page/minecraft/img/bg.jpg');
    transition: .2s;
}

.bg-osu {
    background-image: url('../../page/osu!/img/bg.jpg');
    background-size: cover;
}

.bg-osu:hover {
    background-image: linear-gradient(rgb(0,0,0,0.6),rgb(0,0,0,0.6)),url('../../page/osu!/img/bg.jpg');
    transition: .2s;
}

.bg-codbo3 {
    background-image: url('../../page/call_of_duty_black_ops_3/img/bg.jpg');
    background-size: cover;
}

.bg-codbo3:hover {
    background-image: linear-gradient(rgb(0,0,0,0.6),rgb(0,0,0,0.6)),url('../../page/call_of_duty_black_ops_3/img/bg.jpg');
    transition: .2s;
}

/* PARTENAIRES */

.partenaires {
    background-color: rgb(143, 38, 0);
    display: grid;
    justify-content: center;
    padding: 2rem 5rem;
    width: 100%;
}

.partenaires > h2 {
    margin-bottom: 1.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid white;
    text-align: center;
}

.partenaires > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 1rem;
    border-radius: 20px;
}

.partenaires > div > a > img {
    width: 6rem;
    transition: .2s;
}

.partenaires > div > a > img:hover {
    transition: .2s;
    filter: drop-shadow(0 0 5px white);
}
