@font-face {
    font-family: 'Amethysta';
    src: url('../assets/fonts/Amethysta-Regular.ttf');
}

:root{
    --font: 'Amethysta';
    --bg-header: #573729;
    --header-bg-link: #221109;
    --bg-footer: #2e1d15;
    --bg-container: #222023;
    --bg-image: url("../page/call_of_duty_black_ops_3/img/bg.jpg");
    --title-bg-game-img: url("../page/call_of_duty_black_ops_3/img/title_bg_game.jpg");
    --title-bg-game: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),var(--title-bg-game-img);
    --title-bg: center no-repeat var(--title-bg-game);
    --bg-aside: #9c351a;
    --bg-personnages-image-nom: #3a454c;
    --article-link: #BC7726;
    --title-bg-size: cover;
}