/* FOOTER */

footer, footer > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer > div {
    width: 100%;
}

footer {
    background: var(--bg-footer);
    margin-top: auto;
    color: white;
    padding: 1rem 9rem;
}

footer > div {
    height: 75px;
    gap: 20px;
}

footer a {
    color: white;
    text-decoration: none;
    transition: .2s;
}

footer a:hover {
    text-decoration: underline;
    transition: .2s;
}