:root{
    --bg-header: #454F57;
    --header-bg-link: #353C46;
    --bg-footer: #1E2326;
    --bg-container: #353C46;
    --bg-image: url("../page/nier_automata/img/bg-3.jpg");
    --title-bg-game-img: url("../page/nier_automata/img/title_bg_game.jpg");
    --title-bg-game: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),var(--title-bg-game-img);
    --bg-aside: #4E5963;
    --bg-sommaire: #353C46;
    --bg-personnages-image-nom: #4E5963;
}

@font-face {
    font-family: 'Amethysta';
    src: url('../assets/fonts/Amethysta-Regular.ttf');
}